<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Team WigBrand</title>

    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"           integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
     crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" href="../public/css/style.css">

     <link href="https://fonts.googleapis.com/css?family=Bitter|Merriweather|Nunito" rel="stylesheet"> 

</head>
<body>

    <nav class="navbar nav-color-1">
        <div id="words" class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Wigbrand</a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/survey">Survey</a></li>
                <li><a href="/data-analysis">Data Analysis</a></li>
            </ul>
        </div>
    </nav>

    <div id="about">
        <h2>TEAM WIGBRAND</h2>
            <div id="darrell">
                <p><img src="../public/images/Darrell.jpg" width="200px"><strong>Darrell Freeman</strong> is a former engineer turned full stack web developer living in the northwest Houston, TX area.
                    After 20+ years in the engineering field, he decided it was time for something new, something that allowed for creativity while still retaining
                    the technical character that has appealed to him since the beginning.
                </p>
                <span><a style="color:blue;" href="https://github.com/nclespaul">Github</a> | <a style="color:blue;" href="https://stackoverflow.com/users/7578224/nclespaul">Stack Overflow</a> | <a href="https://www.linkedin.com/in/darrell-freeman-a2382311/" style="color:blue;">LinkedIn</a>
            </div>
            <div id="bon">
                <p><img src="../public/images/BonCrowder006_Sepia_250.jpg" width="200px"><strong>Bon Crowder</strong> is a former math educator turned full stack web developer. 
                    After 25+ years teaching math to students of all ages, she decided it was time to change the world in other ways. She enjoys utilizing both her old and new skills as the Chief of Staff 
                    at a local software development shop.
                </p>
                <span><a href="https://github.com/mathfour" style="color:blue;">Github</a> | <a href="https://stackoverflow.com/users/5210485/bon-crowder-at-mathfour?tab=profile" style="color:blue;">Stack Overflow</a> | <a href="https://www.linkedin.com/in/boncrowder" style="color:blue;">LinkedIn</a>
            </div>
            <div id="marcus">
                <p><img src="../public/images/marcus.jpg" width="200px"><strong>Marcus Smith</strong> is a former human, turned cyborg (A person whose physical abilities are extended beyond normal human limitations by mechanical elements built into the body.),   who is living in Houston and breathing air. He is proficient in HTML5, CSS, JavaScript, and many more.
                </p>
                <span><a href="https://github.com/marcussmith0" style="color:blue;">Github</a> | <a href="https://stackoverflow.com/users/7419306/marcus-smith" style="color:blue;">Stack Overflow</a> | <a href="https://www.linkedin.com/in/marcus-smith-614505134/" style="color:blue;">LinkedIn</a>
            </div>
    </div>

    
</body>
</html>


