<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wigbrand - Home</title>

        <link rel="stylesheet" href="../css/fonts.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"                                             integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/mobile-home.css">

    <link href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu" rel="stylesheet">

</head>
<body>

    <nav class="navbar nav-color-1 navbar-fixed-top">
        <div id="words" class="container">
            <div class="navbar-header">
                <a id="title" class="navbar-brand w" href="/">Wigbrand</a>
            </div>
            <ul id="list" class="nav navbar-nav pull-right">
                <li><a class="w" href="/">Home</></li>
                <li><a class="w" href="/about">About Us</a></li>
                <li><a class="w" href="/survey">Survey</a></li>
                <li><a class="w" href="/data-analysis">Data Analysis</a></li>
            </ul>
        </div>
    </nav>

            <div class="square">
                <div id="big-picture" class="tint">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h1 class="h-position text-center">The Math Anxiety Research Project</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="p-position text-center">
                                Many people experience math anxiety, especially related to testing situations. Even adult learners experience math anxiety. But measuring math anxiety can help researchers, administrators and psychologists better understand it and develop appropriate interventions and treatments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        <div id="content-1" class="row slide-in-right-1">
        
            <div class="col-md-6 text-center ">
                <h2 class="header2"> Relationships Affect Learning </h2>

                <p class="vcenter psPos">
                    Relationships can enhance learning, but they can also suppress it. This is the case when parents and teachers unintentionally pass on negative views about math. No parent or teacher wants to impart feelings of anxiety and aversion, but that’s often what happens.
                </p>
            </div>

             <div class="col-md-6">
                <img class="imgDem" src="../images/kid2.jpg">
            </div>

        </div>

        <div id="content-2" class="row slide-in-left-1">

            <div class="col-md-6">
                <img class="imgDem" src="../images/guy.jpg">
            </div>

            <div class="col-md-6 text-center ">
                <h2 class="header2"> Can it be prevented? </h2>

                <p class="vcenter2 psPos2">
                    Many people experience nervousness or anxiety when they are required to perform mathematical tasks, just as many people have fears of snakes or tall buildings. And like those other fears, being aware of them is the first step to changing them. And that’s what the Math Anxiety Reference Scale survey can do.
                </p>
            </div>


        </div>

        <div id="content-3" class="row slide-in-right-1">
    
                <div class="col-md-6 text-center ">
                    <h2 class="header2"> Cool Sub-title </h2>
                    <p class="vcenter psPos">
                        Being anxious can make students avoid doing anything requiring math. This limits their development of skills and prevents them from taking on many professional opportunities later in life.</p>
                    <p class="vcenter psPos">
                        But you can help. Take this survey so researchers, administrators and psychologists can learn more about adult math anxiety so they can turn the tide and save our children.
                    </p>
                </div>

                <div class="col-md-6">
                    <img class="imgDem" src="../public/images/kid1.jpg">
                    <!--<img class="imgDem images-fade-left" src="../public/images/kid1.jpg">-->
                    <!-- bmc: not sure which of these marcus wants -->
                </div>
        </div>

        <div id="content-4" class="bottom-content text-center">
            <div class="tint">
                <div>
                    <a href="/survey"><button class="btnCustom" style="margin-top: 170px;"> Take the Survey! </button></a>
                </div>
            </div>
        </div>



   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

    <script type="text/javascript" src="../js/animations.js"></script>

</body>
</html>