<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing page</title>  

        <link rel="stylesheet" href="../css/fonts.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"                                             integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/mobile-home.css">

    <link href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu" rel="stylesheet">

</head>
<body>

    <nav class="navbar nav-color-1 navbar-fixed-top">
        <div id="words" class="container">
            <div class="navbar-header">
                 <a id="title" class="navbar-brand" href="/">Wigbrand</a>
            </div>
            <ul id="list" class="nav navbar-nav pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/survey">Survey</a></li>
                <li><a href="/data-analysis">Data Analysis</a></li>
            </ul>
        </div>
    </nav>

            <div class="square">
                <div id="big-picture" class="tint">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h1 class="h-position text-center">Super Cool Header</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="p-position text-center">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        <div id="content-1" class="row slide-in-right-1">
        
            <div class="col-md-6 text-center ">
                <h2 class="header2"> Cool Sub-title </h2>

                <p class="vcenter psPos">
                     Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>

             <div class="col-md-6">
                <img class="imgDem" src="../images/kid2.jpg">
            </div>

        </div>

        <div id="content-2" class="row slide-in-left-1">

            <div class="col-md-6">
                <img class="imgDem" src="../images/guy.jpg">
            </div>

            <div class="col-md-6 text-center ">
                <h2 class="header2"> Cool Sub-title </h2>

                <p class="vcenter2 psPos2">
                     Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>


        </div>

        <div id="content-3" class="row slide-in-right-1">
    
                <div class="col-md-6 text-center ">
                    <h2 class="header2"> Cool Sub-title </h2>
                    <p class="vcenter psPos">
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>

                <div class="col-md-6">
                    <img class="imgDem images-fade-left" src="../public/images/kid1.jpg">

                </div>
        </div>

        <div id="content-4" class="bottom-content text-center">
            <div class="tint">
                <div>
                    <a href="/survey"><button class="btnCustom" style="margin-top: 170px;"> Take Our Survey </button></a>
                </div>
            </div>
        </div>



   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

    <script type="text/javascript" src="../js/animations.js"></script>

</body>
</html>