<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
</head>
<body>

    <p class="question">1. What is your age group?</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">2. What is your race?</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">3. Where do you live?</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">4. What is your gender?</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">5. What is your level of education?</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">6. Studying for a math test.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">7. Taking math section of the college entrance exam.</p>
    <ul class="answers">
        <input type="radio" name="q2" value="1" id="q2a"><label for="q2a">Not at all.</label><br/>
        <input type="radio" name="q2" value="2" id="q2b"><label for="q2b">A little.</label><br/>
        <input type="radio" name="q2" value="3" id="q2c"><label for="q2c">A fair amount.</label><br/>
        <input type="radio" name="q2" value="4" id="q2d"><label for="q2d">Much.</label><br/>
        <input type="radio" name="q2" value="5" id="q2e"><label for="q2e">Very much.</label><br/>
    </ul>

    <p class="question">8. Taking an exam (quiz) in a math course.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">9. Taking an exam (final) in a math course.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">10. Picking up math textbook to begin working on a homework assignment.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">11. Being given homework assignments of many difficult problems that are due the next class meeting.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">12. Thinking about an upcoming math test 1 week before.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">13. Thinking about an upcoming math test 1 day before.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">14. Thinking about an upcoming math test 1 hour before.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">15. Realizing you have to take a certain number of math classes to fulfill requirements.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">16. Picking up math textbook to begin a difficult reading assignment.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">17. Receiving your final math grade in the mail.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">18.Opening a math or stat book and seeing a page full of problems.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">19. Getting ready to study for a math test.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">20. Being given a “pop” quiz in a math class.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">21. Reading a cash register receipt after your purchase.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">22. Being given a set of numerical problems involving addition to solve on paper.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">23. Being given a set of subtraction problems to solve.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">24. Being given a set of multiplication problems to solve.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">25. Being given a set of division problems to solve.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">26. Buying a math textbook.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">27. Watching a teacher work on an algebraic equation on the blackboard.
</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">28. Signing up for a math course.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">29. Listening to another student explain a math formula.</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <p class="question">30. Walking into a math class</p>
    <ul class="answers">
        <input type="radio" name="q1" value="1" id="q1a"><label for="q1a">Not at all.</label><br/>
        <input type="radio" name="q1" value="2" id="q1b"><label for="q1b">A little.</label><br/>
        <input type="radio" name="q1" value="3" id="q1c"><label for="q1c">A fair amount.</label><br/>
        <input type="radio" name="q1" value="4" id="q1d"><label for="q1d">Much.</label><br/>
        <input type="radio" name="q1" value="5" id="q1e"><label for="q1e">Very much.</label><br/>
    </ul>

    <button class="btn btn-primary">Submit</button>

    <script>

    




    </script>
    
</body>
</html>