body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#title, #list {
    position: relative;
    transition: all .9s;
}

.w {
    color: white;
    transition: all .9s;

}

.b {
    color: #007ba7;
    transition: all .9s;

}

.square {
    background-image: url("../images/Depositphotos_4759508_original.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
    margin-top: 55px;
    position: relative;
}

.nav-color-1 {
    background: #007ba7;
    padding: 35px;
    transition: all .9s;
}

.nav-color-2 {
    background: white;
    transition: all .9s;
}

.slide-in-right-1 {
    margin-left: 100%;
    background: #CCCCFF;
    height: 450px;
    width: 100%;
    transition: all .9s;
    margin-top: 10px;

}

.slide-in-right-2 {
    background: #007ba7;
    height: 450px;
    width: 1382px;
    transition: all .9s;
    margin-top: 10px;
}

.slide-in-left-1 {
    margin-left: -1370px;
    background: white;
    height: 450px;
    width: 100%;
    transition: all .9s;
    margin-top: 10px;
}

.slide-in-left-2 {
    background: #979997;
    height: 450px;
    width: 1382px;
    transition: all .9s;
    margin-top: 10px;
}

.bottom-content {
    background-image: url(../images/Depositphotos_138617842_original.jpg);
    height: 450px;
    width: 100%;
    transition: all .9s;
    margin-top: 10px;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    transition: ease-in-out .5s;
}

.imgDem {
    height: 450px;
    width: 660px;
}

.vcenter {
    margin-top: 120px;
}

.vcenter2 {
    margin-top: 120px;
}

.btnCustom {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 50px;
    background: rgba(0, 123, 167, 0.3);
    padding: 25px 25px 25px 26px;
    border: solid #ffffff 5px;
    text-decoration: none;
}

.btnCustom:hover {
    background: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: ease-in-out .2s;
    color: rgba(10, 51, 79, 1);
}

.question {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bitter', serif;

}

input[type=radio] {
    margin-right: 5px;

}

label {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;

}

.drp-downs {
    position: relative;
    left: 25px;
    margin-bottom: 15px;
}

#about {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 2em;
    margin-right: 50px;
}

#about h2 {
    border-bottom: 5px solid #333;
}

#darrell img {
    margin-top: 10px;
    margin-right: 30px;
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

#darrell p {
    font-style: italic;
    margin-top: 30px;
    margin-left: 50px;
}

#bon {
    position: relative;
    margin-top: 10px;
    clear: both;
}

#bon img {
    margin-top: 10px;
    margin-right: 30px;
    float: left;
}

#bon p {
    font-style: italic;
    margin-top: 80px;
    margin-left: 50px;
}

#marcus {
    position: relative;
    margin-top: 70px;
    clear: both;
}

#marcus img {
    outline: 1px solid black;
    margin-top: 10px;
    margin-right: 30px;
    float: left;
}

#marcus p {
    font-style: italic;
    margin-top: 80px;
    margin-left: 50px;
}

.p-position {
    position: relative;
    top: 250px;

}

.h-position {
    position: relative;
    top: 100px;
    border-top: solid 5px;
    border-bottom: solid 5px;
    font-size: 50px;
    color: white;
    padding-bottom: 4px;
}

.svg-container {
    width: 1500px;
}

.main-svg {
    padding-left: 120px;
    width: 950px;
}

.logo-2 {
    width: 70px;
    height: 37px;
    transition: ease-in-out .5s;
}